network-security.data
.stfolder/
auto-save-list/
emacs/
Maildir/
emojis/
.authinfo
url/
var/
straight/
.mbsyncrc
.mbsyncrc.qq
.offlineimaprc
.offlineimap.py
.stignore
bookmarks
org-roam.db
recentf
smex-items
*.asc
eln-cache/
emacsql-sqlite
